@import 'vars/index';
@import 'mixins/index';
@import 'components/index';

*,*:after,*:before{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: $color-black;
    font-family: 'Spartan',sans-serif;
    font-size: 16px;
    line-height: 1.625;
}

html,body{
    margin: 0;
    padding: 0;
}

#app{
    max-width: $maxWidth;
    margin: auto;
    padding-top: 6.25rem;
}

form,fieldset{
    border: none;
}
form{
    padding: 1rem 2rem;
    background-color: $color-white;
    max-width: 30rem;
    margin: 1rem auto;
    border-radius: 5px;
}
legend{
    font-size: 1rem;
    letter-spacing: .1rem;
    position: relative;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
    width: 100%;
}

.hello-darkness{
    color: black;
}

[class$="--button"]{

}

[class$="__heading"]{
    text-align: center;
    font-size: 2rem;
}
[class$="__subheading"]{
    text-align: center;
    font-size: 1.5rem;
}