@import 'vars/index';
@import 'mixins/index';
@import 'components/index';

*,*:after,*:before{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: $color-black;
    font-family: 'Spartan',sans-serif;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
}

html,body{
    margin: 0;
    padding: 0;
}

#app{
    max-width: $maxWidth;
    margin: auto;
}

.flex{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--half{
        min-height: 50vh;
    }
}

form,fieldset{
    border: none;
}
form{
    padding: 1rem 2rem;
    box-shadow: 0 5px 15px 0px rgba($color-black,.15);
    max-width: 30rem;
    margin: 1rem auto;
    border-radius: 5px;
}
fieldset{
    &:not(:first-child){
        margin-top: 2rem;
    }
}
legend{
    font-size: 1rem;
    letter-spacing: .1rem;
    position: relative;
    padding-bottom: 1rem;
    text-align: center;
    display: block;
    width: 100%;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='date'],
select,
label,
textarea{
    display: block;
    width: 100%;
    text-align: left;
    &:not(:last-child){
        margin-bottom: .5rem;
    }
}

[class$="--button"]{
    padding: 1rem 1.25rem;
    border: 1px solid $color-black;
    color: $color-black;
    margin: 1rem auto;
    display: inline-block;
    text-decoration: none;
}