$color-white--true: #fff;
$color-white: #f1f1f1;
$color-black: #333;
$color-black--true: #000;
$color-yellow: #FFC312;
$color-red: #ED4C67;
$color-orange: #EE5A24;
$color-pink: #FDA7DF;
$color-blue: #1289A7;
$color-green: #009432;
$color-green--dark: #006266;