<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <section>
        <h3>404 - Sorry!</h3>
        <p>Seems like we couldn't find what you were looking for</p>
    </section>
<%- include('../partials/footer.ejs') %>