<%- include('../partials/header.ejs') %>
    <h1>Thunder Dating</h1>
    <h2>Feel the spark</h2>
    <p>Welcome to <span class="home-">Thunder Dating</span></p>

    <h3>404 - Sorry!</h3>
    <p>Seems like we couldn't find what you were looking for</p>

    <a href="/login">Already using Thunder Dating? Login here.</a>
    <a href="/register">New user? Register now!</a>
<%- include('../partials/footer.ejs') %>