<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <section class="404 flex">
        <h3 class="404__heading">404 - Sorry!</h3>
        <p class="404__text">Seems like we couldn't find what you were looking for</p>
    </section>
<%- include('../partials/footer.ejs') %>