<%- include('../partials/header.ejs') %>
    <h1>Thunder Dating</h1>
    <h2>Feel the spark</h2>
    <p>Welcome to <span class="home-">Thunder Dating</span></p>
    <%- include('../components/login.ejs') %>
<%- include('../partials/footer.ejs') %>