<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <section class="home">
        <h1 class="home__heading">Thunder Dating</h1>
        <h2 class="home__subheading">Feel the spark</h2>
        <p class="home__text">Welcome to <span>Thunder Dating</span></p>
        <%- include('../components/login.ejs') %>
        <a class="home__link" href="/register">New user? Register now!</a>
    </section>
<%- include('../partials/footer.ejs') %>