<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <section class="login">
        <h1 class="login__heading">Thunder Dating</h1>
        <h2 class="login__subheading">Feel the spark</h2>
        <%- include('../components/login.ejs') %>
        <a class="login__link" href="/register">New user? register now!</a>
    </section>
<%- include('../partials/footer.ejs') %>