<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <h1>Thunder Dating</h1>
    <h2>Feel the spark</h2>
    <%- include('../components/login.ejs') %>
<%- include('../partials/footer.ejs') %>