<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <section class="people flex">
        <h1>These are some people you might be interested in.</h1>
        <%- include('../components/people.ejs') %>
    </section>
<%- include('../partials/footer.ejs') %>