<%- include('../partials/header.ejs') %>
<%- include('../components/nav.ejs') %>
    <h1>Thunder Dating</h1>
    <h2>Feel the spark</h2>
    <%- include('../components/register.ejs') %>
    <a href="/login">Already a user? Login now!</a>
<%- include('../partials/footer.ejs') %>