$component: 'profile';

.#{$component}{
    &__intro{
        background-color: $color-white;
        padding: .5rem 1rem;
        display: inline;
        padding-right: 0;
        border-radius: 5px;

    }
    &__name{
        padding: .5rem 1rem;
        margin-left: .5rem;
        border-radius: 5px;
        color: $color-white;
    }
}